
.back_ground_style
{
background: url("https://www.goldbergfinnegan.com/assets/media/images/bright-hallway-in-hospital-social.jpg"); 

width:100%;
height: 1050px;
background-repeat:repeat;
background-position:90;
background-size:cover;
background-origin:content-box;
}
body
{
	overflow:auto;
}
