
.back_ground_style
{
background: url("https://qtxasset.com/fiercehealthcare/1562973884/GettyImages-898906336.jpg/GettyImages-898906336.jpg?OhHp8.hb4iZbXQ.xHf4.JzCZpWlc56My.jpg"); 

width:100%;
height: 1050px;
background-repeat:repeat;
background-position:90;
background-size:cover;
background-origin:content-box;
}
body
{
	overflow:auto;
}
