<div class="container">

  <div class="row justify-content-center mt-4">
    <h1 style="font-family:'Times New Roman', Times, serif" style="font-family: 'Times New Roman', Times, serif;"><u>Admin List </u></h1>
  </div>
  <button routerLink="/landing-page/create-admin" class="btn btn-warning ml-auto ml-3 mb-2" style="font-family: 'Times New Roman', Times, serif;">
    Create Admin
  </button>
<table class="table table-striped " style="font-family: 'Times New Roman', Times, serif;">
  <thead>
    <tr>
      <th>Admin Id</th>
      <th>Admin Name</th>
      <th>Contact No</th>
      <th>Email</th>
      <th>Password</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let admin of admins; let i=index">
      <td>{{admin.adminId}}</td>
      <td>{{admin.adminName}}</td>
      <td>{{admin.contactNumber}}</td>
      <td>{{admin.email}}</td>
      <td><input name="{{i}}" readonly type="{{admin.type}}" [ngStyle]="{backgroundColor: i%2==0  ? '#f2f2f2' : 'white'}" [(ngModel)]="admin.password"  style="outline: none;border: none; " />
      <button (click)="showpassword(admin.type,i)">{{admin.bname}}</button></td>
      <td>
        <button button (click) = "updateAdmin(admin.adminId)" class="btn btn-info" >Update</button>
        <button button (click) = "deleteAdmin(admin.adminId)" class="btn btn-danger" style="margin-left: 2px;" >Delete</button>
      </td>
    </tr>
  </tbody>
</table>

</div>

