<div class="col-md-6 offset-md-3 " style="margin-bottom: 100px;">
  <hr><br>
  <h3 class="text-center"><u>Update Doctor</u></h3>
  <form (ngSubmit) = "saveUser()" >

    <div class="form-group">
      <label>Doctor Id</label>
      <input type="text" class="form-control" id="doctorId"
        [(ngModel)] = "doctor.doctorId" name="doctorId">
    </div>

    <div class="form-group">
      <label>Doctor Name</label>
      <input type="text" class="form-control" id="doctorName"
        [(ngModel)] = "doctor.doctorName" name="doctorName">
    </div>
    <div class="form-group">
      <label>Speciality</label>
      <input type="text" class="form-control" id="speciality"
        [(ngModel)] = "doctor.speciality" name="speciality">
    </div>
    <div class="form-group">
      <label>Location</label>
      <input type="text" class="form-control" id="location"
        [(ngModel)] = "doctor.location" name="location">
    </div>
    <div class="form-group">
      <label>Hospital Name</label>
      <input type="text" class="form-control" id="hospitalName"
        [(ngModel)] = "doctor.hospitalName" name="hospitalName">
    </div>
    <div class="form-group">
      <label>Mobile No</label>
      <input type="text" class="form-control" id="mobileNo"
        [(ngModel)] = "doctor.mobileNo" name="mobileNo">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" id="email"
        [(ngModel)] = "doctor.email" name="email">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" id="password"
        [(ngModel)] = "doctor.password" name="password">
    </div>


    <div class="text-center">
      <button class="btn btn-success " type="submit">Update</button>
    </div>




  </form>

</div>
