

a:hover, a:active {
  background-color: white;
}



.navbar
{
	margin-top:0px;
	margin-left:0px;
	margin:0px ; 
	height:100px;
    top:0;
    width:100%;
    position:absolute;
    font-size: 20px;
  
	background-color: pink;
}


.btn
{
	background-color:indianred;
}
.nav-item
{
	margin-right: 50px;
}
.footer
{
	background-color: pink;
	height: 100px;
	font-size: 20px;
}
.navbar-brand
{
	font-size: 45px;
}