
  
  <nav class="navbar navbar-expand-sm ">
   
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="/landing-page/user-list" routerLinkActive="active" class="nav-link " style="color:black"><b>User List</b></a>
      </li>
      <li class="nav-item">
        <a routerLink="/landing-page/doctor-list" routerLinkActive="active" class="nav-link " style="color:black"><b>Doctor List</b></a>
      </li>
      <li class="nav-item">
        <a routerLink="/landing-page/patient-list" routerLinkActive="active" class="nav-link " style="color:black"><b>Patient List</b></a>
      </li>
      <li class="nav-item">
        <a routerLink="/landing-page/admin-list" routerLinkActive="active" class="nav-link " style="color:black"><b>Admin List</b></a>
      </li>
      <li class="nav-item">
        <a routerLink="/landing-page/appointment-list" routerLinkActive="active" class="nav-link " style="color:black"><b>Appointment List</b></a>
      </li>
      <li class="nav-item">
        <a routerLink="/landing-page/availabilitydates-list" routerLinkActive="active" class="nav-link " style="color:black"><b>Availability</b></a>
      </li>
      <li class="nav-item">
        <a routerLink="/landing-page/feedback-list" routerLinkActive="active" class="nav-link " style="color:black"><b>Feedback</b></a>
      </li>
     
      <button class="btn btn-danger" (click)="logout()" style="color:pink"><b><font color="white">Logout</font></b></button>
    </ul>
  </nav>
 

    <router-outlet></router-outlet>
  

 
